table {
    width: 100%;
}

th, td {
    color: #FFF;
    text-align: start;
    padding: 0.5rem;
}

.btn {
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 0.4rem 1rem;
    cursor: pointer;
    color: #FFF;
    margin-right: 4px;
}
.btn:hover {
    text-decoration: underline;
}

.btn-approve {
    background-color: #0d801c;
}
.btn-reject {
    background-color: #9c2222;
}

.label-approved {
    color: #0d801c;
}
.label-rejected {
    color: #9c2222;
}

dialog {
    width: clamp(300px, 100%, 400px);
    padding: 1rem;
    background-color: #FDFDFD;
}

dialog form {
    display: flex;
    flex-direction: column;
}

.btn-dialog-approve {
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #252649;
    color: #FFF;
    cursor: pointer;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    margin-left: auto;
}
.btn-dialog-reject {
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #9c2222;
    color: #FFF;
    cursor: pointer;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    margin-left: auto;
}

.requestor-profile {
    display: flex;
    flex-direction: column;
}
.btn-close {
    cursor: pointer;
    padding: 0.5rem 1rem;
    background-color: transparent;
    padding: 0.25rem;
    border: 1px solid transparent;
    margin-left: auto;
}
.col-requestor {
    cursor: pointer;
}

/* tr:not(:first-child):hover {
    background-color: #16CEDA;
} */