:root {
    --primary-color: #111127;
    --secondary-color: #F6CD5F;
    --accent-color: #1A1A3B;
    --text-color-1: #212121;
    --text-color-2: #0C0C1D;
    --text-color-3: #747474;
}
* {
    box-sizing: border-box;
    font-size: 16px;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Nunito Sans', 'Arial', sans-serif;
    /* background: #1F1F1F; */
    /* background-color: #13142D; */
    background-color: var(--primary-color);
    background-image: url('../assets/img/ikhalifah_bg.jfif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    padding: 1rem;
    overflow: hidden;
}
p {
    margin: 0;
}
strong {
    color: var(--text-color-2);
}
dialog {
    border: none;
    border-radius: 4px;
    padding: 1rem;
}

.error-msg {
    color: #D33434;
    line-height: 1.2rem;
}
.d-flex {
    display: flex;
    column-gap: 10px;
}
.justify-center {
    justify-content: center;
}
.justify-end {
    justify-content: end;
}
.flex-column {
    flex-direction: column;
}
.content {
    padding: 1rem;
}
.p {
    padding: 1rem;
}
.m-b {
    margin-bottom: 1rem;
}
.m-b-sm {
    margin-bottom: 0.875rem;
}
.m-t {
    margin-top: 1rem;
}
.m-r {
    margin-right: 1rem;
}
.m-l {
    margin-left: 1rem;  
}
.main-heading {
    font-size: 1.5rem;
    color: #FFF;
}
.font-s {
    font-size: 0.875rem;
}
.font-m {
    font-size: 1.25rem;
}
.font-l {
    font-size: 1.5rem;
}
.text-bold {
    font-weight: bold;
}
.text-color-3 {
    color: var(--text-color-3);
}

h1.title {
    font-size: 2rem;
    color: #121212;
}
h1.page-title {
    margin: 0;
    /* margin-bottom: 16px; */
    color: var(--text-color-2);
    font-size: 2rem;
    font-family: 'Marmelad';
    background: var(--primary-color);
    color: #FFF;
    padding: 1.25rem;
    overflow: hidden;
}
.underline-1 {
    border-bottom: 2px solid var(--accent-color);
}

/* Footer */
footer {
    margin-top: auto;
    display: flex;
    padding: 0.75rem 0.675rem;
    background-color: #150B36;
    /* background-color: #DDD; */
    color: #FFF;
}
footer p {
    color: #FEFEFE;
    font-size: 0.875rem;
}