main {
    margin: 1.75rem;
    padding: 0;
    border-radius: 4px;
    display: grid;
    place-items: center;
}

.container {
    background-color: #FEFEFE;
    width: clamp(480px 100%, 640px);
    border-radius: 4px;
    overflow: hidden;
}

form {
    padding: 0 0.5rem;
}
.form-section {
    margin-bottom: 1rem;
}

.form-group-multiple {
    display: flex;
    width: 100%;
    column-gap: 8px;
}
.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* margin-bottom: 8px; */
}
.form-group label, .form-group-address label {
    margin-bottom: 2px;
    font-size: 1rem;
    color: #444;
}
.form-group input, .form-group select, .form-group-address input {
    border: 1px solid #AAA;
    padding: 0.5rem;
    border-radius: 4px;  
    font-size: 1.25rem;
    margin-bottom: 8px;
}
.form-group input[type="date"] {
    font-size: inherit;
    font-family: inherit;
    padding: 0.5rem;
}
.form-group-address {
    display: flex;
    flex-direction: column;
}

form .btn-submit {
    margin-left: auto;
    padding: 0.75rem;
    background-color: var(--primary-color);
    color: #FFF;
    font-size: 1.125rem;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    min-width: 150px;
}
form .btn-submit:hover {
    opacity: 0.75;
}